/*---------RESETS---------*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  font,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    scroll-behavior: smooth;
    list-style: none;
  }
  
  html {
    font-size: 62.5%;
    height: 100%;
  }
  
  body {
    color: #2b2b2b;
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    overflow-x: hidden;
    line-height: 1.4;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  article,
  aside,
  footer,
  header,
  nav,
  section,
  time {
    display: block;
  }
  a {
    text-decoration: none;
  }
  img {
    max-width: 100%;
  }

  /*-----CONTAINER/GRID-----*/

.container{
   
    max-width:140rem;
    margin:0 auto;
    padding:1.5rem;
}

    /*-----HEADER-----*/
.header{
    position: relative;
    position: fixed;
    width: 100%;
}
    .header{
background:#222222;
}

.header .header__wrapper{
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.header .branding{
    display:flex;
    align-items:center;
}

.header .branding h3{
    color:#ffffff;
    font-size:2.5rem;
    margin-left:2rem;
}

.header .branding h3 span{
    color:#ffa700;
}

.header .header__nav ul{
    display:flex;
}

.header .header__nav ul li{
    margin-left:2rem;
}

.header .header__nav ul li a{
    color:#ffffff;
    font-size:2rem;
    padding:2rem 0;
}

.header .header__nav ul li:hover a{
    color:#ffa700;
}
.toggle__menu{
    display:none;
}

.toggle__menu span{
width: 3rem;
height:.3rem;
background-color: #ffa700;
display: block;
margin-top: .5rem;
border-radius: 5rem;
transition: .5s ease;
}

@media screen and (max-width:500px){
.toggle__menu{
    display: block;
}
.toggle__menu.open span:first-child{
 transform: translate(0,10px) rotate(225deg);
}
.toggle__menu.open span:nth-child(2){
opacity: 0;
}
.toggle__menu.open span:last-child{
 transform: translate(0,-7px) rotate(-225deg);
}
.header .header__nav{
    background:#222222;
    position: absolute;
    top: 10.3rem;
    right: -100rem;
    width: 100%;
    height: 100vh;
    transition: .5s ease;
}
.header .header__nav.open{
    right: 0;
    transition: .5s ease;
}
.header .header__nav ul{
    display:block;
    text-align: center;

}
.header .header__nav ul li{
    padding: 3rem 0;
    margin-left: 0;
    
}
.header .header__nav ul li:hover{
background: #2b2b2b;
cursor: pointer;
}
.header .header__nav ul li a{
    font-size: 3rem;
}
}

/*-------------BANNER---------------*/
.banner{
    padding-top: 13rem;
    padding-bottom: 5rem;
}
.banner .banner__wrapper{
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.banner .banner__text{
    max-width:60rem;
}

.banner .banner__text h1{
    color:#ffa700;
    font-size:10rem;
    font-weight:800;
    line-height:1.1;
}

@media screen and (max-width:500px){
    .banner .banner__wrapper{
        flex-direction: column-reverse;
    }

    .banner .banner__text{
        text-align: center;
    }

    .banner .banner__text h1{
        font-size: 3rem;
    }

    .banner .banner__text p{
        text-align: justify;
    }

    .banner img{
        width: 25rem;
    }

}

/*---------------REPEATABLE PATERNS------------------*/
.btn{
    display:inline-block;
    padding:1.5rem 2rem;
    border-radius:5rem;
}

.btn.yellow{
    background:#ffa700;
    color:#ffffff;
    border:1px solid yellow;
}
.btn.yellow:hover{
    background:#222222;
    border:1px solid #222222;
}

.banner .banner__text p{
    margin:3rem 0;
}

.btn{
    display:inline-block;
    padding:1.5rem 2rem;
    border-radius:5rem;
}

.btn.black{
    background:black;
    color:#ffffff;
    border:1px solid black;
}
.btn.black:hover{
    background:orange;
    border:1px solid #222222;
}

.banner .banner__text p{
    margin:3rem 0;
}


/*-----------HM-SERVICES--------*/
.hm-services{
    padding: 5rem 0;
    background: #222222;   
}
.hm-services .hm-services__wrapper{
    display: flex;
    justify-content: space-between;
}
.hm-services .hm-services__item i{
    color: #ffa700;
    font-size: 6rem;
}
.hm-services .hm-services__item{
    text-align: center;
    max-width: 38rem;
}
.hm-services .hm-services__item h4{
    color: #ffa700;
    font-size: 2rem;
    font-weight: 600;
    margin: 2rem 0;
}
.hm-services .hm-services__item p{
    color: #ffffff;
    margin-bottom: 2rem;
    text-align: justify;
}
.hm-services .hm-services__item a:hover{
    border:1px solid #ffffff;
}

@media screen and (max-width:500px){
    .hm-services .hm-services__wrapper{
       flex-direction: column;
    }
    .hm-services .hm-services__item{
        margin: 0 auto;
    }
    .hm-services .hm-services__item:nth-child(2){
        margin: 10rem auto;
    }
}

/*-------------HM-ABOUT----------*/
.about{
    padding: 5rem 0;
}
.about .about___text{
    max-width: 80rem;
}
.about .about__text h2{
    color:#ffa700;
    font-size: 5rem;
    font-weight:600;
    margin:2rem 0;
}
.about .about__wrapper{
    display:flex;
    justify-content:space-between;
    align-items: center;
}

.about .about__text p{
    margin: 2rem 0;

 text-align:justify;
}

@media screen and (max-width:500px){
    .about .about__wrapper{
        flex-direction: column;
    }

    .about .about__text{
        text-align: center;
    }



    .about img{
        width: 25rem;
    }

}


/*---------------HM-LATEST TRENDS-------------------*/
.hm-trends{
    padding: 5rem 0;
    background: #222222;
}
.hm-trends .hm-trends__title{
    color: #ffa700;
  
}
.hm-trends .hm-trends__title h2{
    font-size: 5rem;
    font-weight: 600;
}
.hm-trends .hm-trends__title p{
    margin: 2rem 0;
    color:#ffffff
    

}
.hm-trends .hm-trends__cards{
    background: #ffffff;
    border-radius: 3rem;
    max-width: 42rem;
}
.hm-trends .hm-trends__wrapper{
    display: flex;
    justify-content: space-between;
}
.hm-trends .hm-trends__cards img{
  width: 100%;
}
.hm-trends .hm-trends__cards .hm-trends__cards__text{
    padding: 2rem;
}
.hm-trends .hm-trends__cards .hm-trends__cards__text h4{
    color:#ffa700;
    font-size: 2rem;
    font-weight: 600;
}
.hm-trends .hm-trends__cards .hm-trends__cards__text p{
    margin-top: 2rem;
    margin-bottom: 5rem;
}
.hm-trends .hm-trends__cards .hm-trends__cards__text a{
   color: #ffa700
}

@media screen and (max-width:500px){
    .hm-trends .hm-trends__wrapper{
       flex-direction: column;
       margin: 2rem;
    }
    .hm-trends .hm-trends__item{
        margin: 0 auto;
    }
    .hm-trends .hm-trends__item:nth-child(2){
        margin: 10rem auto;
    }
    .hm-trends .hm-trends__cards{
        margin-bottom: 5rem;
    }
}

/*-------------------HM-CONTACT---------------------*/
.hm-contact{
    padding: 5rem 0;
    background: #ffa700;
}
.hm-contact .hm-contact__text h2{
    color:black;
    font-size: 4rem;
    font-weight: 600;
}
.hm-contact .hm-contact__text p{
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 2rem;
}
.hm-contact .hm-contact__text{
    text-align:center;
    justify-content: space-between;
}

/*-----------------HM-FOOTER-------------------*/
.footer{
    padding:1rem 0;
    background: #222222;
}
.footer .footer__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer .footer__icons ul{
    display: flex;
}
.footer .footer__icons ul li{
    margin-right: 2rem;
}
footer .footer__icons ul li a i{
    color: #f5f5f5;
}

.footer p {
    color: #f5f5f5;
}
@media screen and (max-width:500px){
    .footer .footer__wrapper{
        flex-direction: column-reverse;
    }

    .footer p{
        text-align: center;
        margin-bottom: 1rem;
    }
}





































/*-------------------ABT-BANNER-------------*/
.abt-banner{
    padding-top: 13rem;
    padding-bottom: 5rem;
}
.abt-banner .abt-banner__wrapper{
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin: 3rem;
}

.abt-banner .abt-banner__text{
    max-width:60rem;
}
.abt-banner .abt-banner__text h3{
    font-size: 1.5rem;
    margin: 3rem;
}
.abt-banner .abt-banner__text h1{
    color:#ffa700;
    font-size:7rem;
    font-weight:00;
    line-height:1.1;
}
.abt-banner .abt-banner__text p{
    margin: 3rem 0;
    justify-content: space-between;
   
}
.abt-banner ul{
    text-align: center;
}
.abt-banner ul li a i{
    color: #ffa700;
    font-size: 3rem;
  
 
}
 .abt-banner .abt-banner__wrapper ul{
    display: flex;
    justify-content: space-between;
    max-width: 25rem;
    margin: 0 auto;
 }
 .abt-banner .abt-banner__wrapper ul li a{
    color:#ffa700; 
    
 }

 @media screen and (max-width:500px){
    .abt-banner .abt-banner__wrapper{
        flex-direction: column-reverse;
    }

    .abt-banner .abt-banner__text{
        text-align: center;
    }

    .abt-banner .abt-banner__text h1{
        font-size: 3rem;
    }

    .abt-banner .abt-banner__text p{
        text-align: justify;
    }

    .abt-banner img{
        width: 25rem;
    }

}

/*------------------ABT-PROJECT------------*/
.abt-projects{
    padding: 5rem 0;
    background: #222222;
}
.abt-projects .abt-projects__title{
    color: #ffa700;
 
  
}
.abt-projects .abt-projects__title h2{
    font-size: 3rem;
    font-weight: 600;

}
.abt-projects .abt-projects__title p{
    margin: 2rem 0;
    color:#ffffff
}
.abt-projects .abt-projects__cards{
    background: #ffffff;
    border-radius: 3rem;
    max-width: 42rem;
    margin-top: 5rem;
}
.abt-projects .abt-projects__wrapper{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
}
.abt-projects .abt-projects__cards img{
  width: 100%;
}
.abt-projects .abt-projects__cards .abt-projects__cards__text{
    padding: 2rem;
}
.abt-projects .abt-projects__cards .abt-projects__cards__text h4{
    color:#ffa700;
    font-size: 2rem;
    font-weight: 600;
}
.abt-projects .abt-projects__cards .abt-projects__cards__text p{
    margin-top: 2rem;
    margin-bottom: 5rem;
}
.abt-projects .abt-projects__cards .abt-projects__cards__text a{
   color: #ffa700
}

@media screen and (max-width:500px){
    .abt-projects .abt-projects__wrapper{
        display: grid;
        grid-template-columns: 1fr ;
       margin: 2rem;
    }
    /* .abt-projects .abt-projects__title h2{
text-align: center;
    }
    .abt-projects .abt-projects__title p{
        text-align: center;
    } */
    .abt-projects .abt-projects__title{
        text-align: center;
    }
    .abt-projects .abt-projects__item{
        margin: 0 auto;
    }
    .abt-projects .abt-projects__item:nth-child(2){
        margin: 10rem auto;
    }
    .abt-projects .abt-projects__cards{
      margin: 5rem auto;
    }

}



/*------------------SVS-BANNER-----------------*/
.svs-banner{
    padding-top: 13rem;
}
/* .svs-banner .svs-banner__items:nth-child(2){
     padding-top: 3rem;
}
.svs-banner .svs-banner__items:nth-child(3){
    padding-top: 3rem;
} */

.svs-banner .svs-banner__content{
    display: flex;
    justify-content: space-between;
    max-width: 140rem;
    margin: 0 auto;
}
.svs-banner .svs-banner__text p{
    max-width: 70rem;
}
.svs-banner .svs-banner__wrapper{
    padding: 5rem 0;
}
.svs-banner .svs-banner__wrapper:nth-child(2){
    background: #222222;
    color: #f5f5f5;  
    order: 1;
}
/* .svs-banner .svs-banner__items:nth-child(2){
background: #222222;
color: #f5f5f5;
} */
/* .svs-banner .svs-banner__items:nth-child(2) {
   margin-bottom: 1.5rem;
    } */
.svs-banner .svs-banner__text{
    margin-top: 3rem;
    margin-bottom: 3rem;
    max-width: 140rem;
}
.svs-banner .svs-banner__text h3{
    font-weight: 600;
    font-size: 2.5rem;
    color: #ffa700;
}
.svs-banner .svs-banner__text h1{
    color:#ffa700;
    font-size:5rem;
    font-weight:600;
    line-height:1.1;
}
.svs-banner .svs-banner__text p{
    margin: 3rem 0;
    text-align: justify;
   
}
.svs-banner__wrapper .svs__price h4{
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.svs-banner__wrapper .svs__price p{
    margin-top: .2rem;
    font-size: 1.5rem;
    font-style: italic ;
}
.svs-banner a {
    display: flex;
    justify-content: center;
    color: #ffa700;
    font-size: 3rem;
    margin: 2rem 0;
    /* margin-bottom: 1.5rem; */
    /* padding-bottom: 5rem; */
}


@media screen and (max-width:500px){
    .svs-banner .svs-banner__content{
        flex-direction: column-reverse;
        justify-content: center;
       
    }
    .svs-banner .svs-banner__wrapper{
        align-items: center;
        
    }

    .svs-banner .svs-banner__text{
        text-align: center;
       
    }

    .svs-banner .svs-banner__text h1{
        font-size: 3rem;
    }

    .svs-banner .svs-banner__text p{
        text-align: justify; 
    }
    
    .svs-banner .svs__price p{
        text-align: center;
        
    }
    
    .svs-banner img{
        width: 25rem;
    }
    
}
